.skills__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__container:before{
    display: flex; 
    background-color: #ffffff;
    content: "";
    height: 1px;
    position: relative;
    width: 40%;
    margin-bottom: 28px;
}

.skills__content{
    display: flex; 
    padding-top: 30px;
    gap: 40px;
}

