
.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -150px;
}

/* SPAN AREA */
.about__spanArea{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.about__contactIcons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.about__contactIcons img{
    width: 30px;

}
.about__phrase{
    color: #fff;
    text-align: right;
}

.about__textArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 289px;
    padding: 10px;
    background-color: #fff;
    color: #7A034B;
    box-shadow: 12px 13px 0px 0px rgba(122, 3, 74);
    -webkit-box-shadow: 12px 13px 0px 0px rgba(122, 3, 74);
    -moz-box-shadow: 12px 13px 0px 0px rgb(122, 3, 74);
}

.about__text{
    padding: 0px 60px;
    font-size: 1.55rem;
}

.line:after{
    display: flex;  
    background-color: #7A034B;
    content: "";
    height: 2px;
    position: relative;
    width: 15%;
    top: -45%;
    rotate: 90deg;
    right: -90%;
}

.line.design:after{
  width: 10%;
  top: -45%;
  right: 7%;
}

.about__star{
    display: flex;
    position: absolute;
    width: 433px;
    height: 636.25px;
    right: 11%;
    top: -25%;
    z-index: -1;
}

/* SOFT SKILLS AREA */
.about__softSkillsArea{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 35px;
}

.about__softSkillsBox{
    width: 50%;
    padding: 10px;
    font-weight: 600;   
    font-size: 1.3rem;
    text-align: center; 
    color: #7A034B;
    background-color: #fff;
    box-shadow: 4px 5px 0px 0px rgba(122,3,75,0.75);
    -webkit-box-shadow: 4px 5px 0px 0px rgba(122,3,75,0.75);
    -moz-box-shadow: 4px 5px 0px 0px rgba(122,3,75,0.75);

}


