
.header__container{
    display: flex;
    justify-content: center;
    
}

.header__whiteStar{
    width: 100px;
    justify-content: end;
}

.navbar__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    height: 53px;
    width: 40%; 
    align-items: center;
}

.ul__element{
    display: flex;
    flex-direction: row;
}
.ul__element > a{
    color: #C62087;
    text-decoration: none;
    text-transform: none;
    
}
