.footer{
    padding-top: 2rem;
    width: 100%;
}
  
.footer__container{
    row-gap: 3.5rem;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.footer__bg{
    background-color: #ffffffd5;
    padding: 2rem 0 3rem;
}
  
.footer__header{
    margin: 20px;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
    margin: 10px;
}
  
.footer__subtitle{
    font-size: 1rem;
    font-weight: 400;
}
  
.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 1.5rem;
}
  
.footer__links li{
    margin: 15px;
}

.footer__link:hover{
    color: var(--first-color-lighter);
}
  
.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}
  
.footer__social:hover{
    color: var(--first-color-lighter);
}
  
.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: #cecece77;
    margin-top: var(--mb-3);
}
  
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: #C62087;
}