
.banner__profilePic{
    display: flex;
    position: relative;
    width: 600px;
}

.banner__title__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner__text.name{
    display: flex;
    text-align: left;
    position: relative;
}
.banner__text.profession{
    display: flex;
    text-align: right;
}
.banner__textPortfolio{
    width: 40%;
    height: 50%;
}
.banner__tituloPortfolio{
    width: 1000px;
}

.banner__arrowdonw{
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 50px;
}