
.banner__profilePic{
    display: flex;
    position: relative;
    top: -190px;
    width: 650px;
}

.banner__title__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner__text.name{
    display: flex;
    position: relative;
    right: 360px;
    top: 40px;
    font-size: 2rem;
}
.banner__text.profession{
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
    left: 250px;
    font-size: 1.4rem;
}

.banner__textPortfolio{
    width: 35%;
    height: 0%;
    opacity: 60%;
}
.banner__tituloPortfolio{
    width: 1000px;
}

.banner__arrowdonw{
    display: flex;
    justify-content: center;    
    align-items: center;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 50px;
    top: -500px;
    right: -850px;
}
.banner__arrowdonw:hover{
    width: 80px;
    height: 60px;
    transition: ease-in-out;
}